*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.container{
    max-width: 100%;
    display: flex;
    align-items: center;
}
.bigNav{
    width: 100%;
}
.upperPart{
    gap: 25px;
    padding: 20px 20px 0 40px;
}
.logoName{
    gap: 10px;
    width: 25%;
}
.logoName img{
    width: 80px;
    height: 80px;
}

.xon h1{
    color: rgb(102, 101, 101);
    font-size: 120px;
    letter-spacing: -0.12em;
    line-height: 100px;
    margin-right: 20px;
    border-radius: 20px;
}
.listContact{
    gap: 5px;
}
#navList{
    padding-top: 17px;
    display: flex;
    column-gap: 20px;
}
#navList li{
    font-size: 13px;
    list-style-type: none;
    border-bottom: 2px dotted black;
    transition: all 0.3s;
}
#navList li:hover{
    transform: scale(1.15);
}
#navList li a{
    color: black;
    text-decoration: dotted;
    transition: all 0.3s;
}
#navList li a:hover{
    color: gold;
}
.buttonLine{
    width: 100%;
    gap: 31px;
    padding-bottom: 15px;
}
.description{
    width: 27%;
}
.tN{
    width: 35%;
    gap: 15px;
}
.tN i{
    position: relative;
    top: 3px;
    font-size: 25px;
    color: rgb(66, 238, 66);
}
.tN h1{
    color: rgb(10, 10, 86);
}
.lastNavBtn{
    width: 30%;

}
.signing{
    width: 180px;
    height: 30px;
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s;
}
.signing:hover{
    transform: scale(1.15);
}
#log{
    border: 1px solid orange;
    background-color: orange;
}
.a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.bottomPart{
    width: 100%;
    padding: 0px 20px 0 40px;
    gap: 40px;
}
.filterPart{
    width: 48%;  
    column-gap: 0;
    border-radius: 10px;
}
#superFind{
    padding-left: 15px;
    border-right-color: black;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: black;
    height: 35px;
    width: 520px;
}
#filter1{
    margin-left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 60px;
}
#filter1 a i{
    font-size: 27px;
    color: black;
}
.demographics{
    gap: 57px;
}
.iconColumns{
    gap: 10px;
}
.navIcon i{
    font-size: 20px;
}
#firstNavIcon{
    color: rgb(64, 252, 64);
}
#secondtNavIcon{
    color: gold;
}
.iconComment p{
    font-size: 12px;
}
#products{
    padding-top: 10px;
}
#productName li{
    border-bottom: 2px dotted black;
}

/* hardHeader start */
.hardHeader{
    margin-top: 30px;
}
.hardHead{
    gap: 15px;
    width: 100%;
}

/* hardSidebar start */
.hardSidebar{
    width: 29%;
    height: 728.14;
    padding: 0px 10px 45px 20px;
    align-items: flex-start;
    justify-content: flex-start;
}
.catalog{
    color: #b5b4b4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    padding: 10px 10px 5px 20px;
    background-color: rgb(195, 234, 250);
}
.sideList{
    padding: 10px 10px 20px 20px;
    box-shadow: 4px 7px 15px #c0bbbb;
    width: 100%;
    align-items: flex-start;
    gap: 25px;
}
.sideList ul{
    list-style-type: none;
    gap: 20px;
}
.downIcon{
    width: 100%;
    justify-content: space-between;
}
.listIcon{
    gap: 10px;
}
.listIcon i{
    font-size: 20px;
}
/* hardSidebar end */

/* hardHeadPart start */
.hardHeadPart{
    padding-top: 20px;
    width: 70%;
    gap: 17px;
}
.nameLocation{
    width: 780px;
    height: 100px;
}
.nameLocation h1{
    color: rgb(54, 53, 53);
}
.nameLocation h1 span{
    color: gold;
}
.nameLocation h2{
    color: rgb(89, 87, 87);
}
.slideContent{
    padding: 5px 30px 0 5px;
    height: 565px;
    
}
.buttonName{
    height: 565px;
    justify-content: flex-end;
    width: 780px;
    padding-left: 5px;
    padding-right: 5px;
    height: 100%;
    gap: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
#buttonName01{
    height: 565px;
    background-image: url(./img/1105c1c75b18d9daf02e3fe54b6f6a0d.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}
#buttonName{
    height: 565px;
    background-image: url(./img/15983d67f66f32ee44f1dacc93a85e0f.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.bla{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
    background-color: rgba(65, 64, 64, 0.464);
}
#buttonName2{
    height: 565px;
    background-image: url(./img/99331eabce8e31d0a4652574bd11ed32.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: absolute;
}
.active{
    z-index: 100;
    background-color: orange;
}
.floatSlider{
    padding-right: 60px;
}
.rightCommentButton{
    gap: 20px;
}
.rightComment{
    padding-right: 70px;
    text-align: center;
    color: rgb(248, 244, 244);
}
.SuperButtonHolder{
    position: relative;
    z-index: 2000;
    width: 770px;
    height: 100%;
    justify-content: space-between;
}
#superHeaderButton{
    position: relative;
    left: 20px;
    top: -255px;
}
#superHeaderNextButton{
    position: relative;
    top: -255px;
}
.lastSlide{
    z-index: 200;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    font-size: 30px;
}
.dots{
    z-index: 2000;
    width: 100%;
    gap: 10px;
    position: relative;
    top: -30px;
}
.dot{
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: rgb(207, 201, 201);

}
/* hardHeadPart end */

/* hardHeader end */

/* About start */
.aboutWood{
    width: 100%;
    gap: 20px;
}
.aboveWood{
    width: 100%;
    justify-content: center;
    gap: 2px;
}
.sixtyWood{
    background-image: url(./img/99331eabce8e31d0a4652574bd11ed32.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: space-between;
    height: 230px;
    width: 500px;
    padding: 20px;
    color: white;
    position: relative;
    z-index: 10;
}
.sixtyWood button{
    width: 150px;
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    color: white;
    padding: 10px;
}
.textWood{
    gap: 10px;
}
.twentyCenterWood{
    display: flex;
    align-items: flex-end;
    padding: 20px;
    color: white;
    height: 230px;
    position: relative;
    z-index: 10;
}
.twentyLastWood{
    height: 230px;
    padding: 20px;
}
.blackWood{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -10;
    background-color: rgba(89, 87, 87, 0.486);
}
.richWood{
    position: relative;
    background-image: url(./img/1105c1c75b18d9daf02e3fe54b6f6a0d\ \(1\).jpg);
    background-color: rgba(48, 48, 48, 0.464);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.cheapWood{
    background-image: url(./img/a5818e293ffba4b3951704f30291441b\ \(1\).jpg);
    background-color: rgba(48, 48, 48, 0.464);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.belowWood{
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    align-items: center;
    gap: 20px;
}
.mostDemanding{
    justify-content: center;
    width: 100%;
    gap: 30px;
    height: 480px;
}
.sixtyWoodenFloatDemand{
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 545px;
    height: 100%;
    background-color: pink;
    background-image: url(./img/troyka.jpg);
    background-size: cover;
    background-position: left;
}

.blaDemand{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
    background-color: rgba(48, 48, 48, 0.464);
}
.titleWooden{
    padding-left: 20px;
    padding-top: 20px;
    color: white;
}
#sixWoodColor{
    color: white;
}
.sixtyDiscount{
    padding-left: 20px;
    align-items: flex-start;    
}
.sixtyDiscount h1{
    color: skyblue;
}
.sixtyDiscount h1 span{
    padding-left: 20px;
    color: white;
}
#six span{
    color: gold;
}
.moreYears{
    padding-left: 20px;
    padding-bottom: 35px;
    gap: 10px;
    color: white;
}
.moreYears button{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 160px;
    height: 40px;
    transition: all 0.3s;    
    background-color: orange;
    border-color: orange;
    color: white;
}
.fourSizedWoodenFloat{
    width: 510px;
    flex-wrap: wrap;
    row-gap: 15px;
    column-gap: 20px;
}
.fourDemand{
    position: relative;
    z-index: 10;
    background-color: yellow;
    width: 245px;
    height: 230px;
}
.thirtyDemand{
    position: relative;
    background-image: url(./img/reel.jpg);
    background-size: cover;
    background-position: center;
}
.seventyDemand{
    position: relative;
    background-image: url(./img/svr.jpg);
    background-size: cover;
    background-position: center;    
}
.eightyDemand{
    position: relative;
    background-image: url(./img/big.webp);
    background-size: cover;
    background-position: center;
}
.fiftyDemand{
    position: relative;
    background-image: url(./img/cen.webp);
    background-size: cover;
    background-position: center;    
}
.lessDemanding{
    width: 100%;
    gap: 20px;
    justify-content: center;
}
.fortyWooden{
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 535px;
    height: 200px;
    background-image: url(./img/yot.webp);
    background-size: cover;
    background-position: center;
}
.orderButtonForWoodenFloat{
    justify-content: space-between;
    padding-right: 20px;
    padding-bottom: 20px;
}
.orderButtonForWoodenFloat button{
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 140px;
    height: 30px;
    transition: all 0.3s;    
    background-color: orange;
    border-color: orange;
    color: white;
}
.twentyWoodenDemand{
    justify-content: space-between;
    position: relative;
    z-index: 10;
    width: 530px;
    height: 200px;
    background-image: url(./img/g\'ayrat.webp);
    background-size: cover;
    background-position: center;
}
.notPriceDiscount{
    color: white;
    padding-left: 20px;
}
.notPriceDiscount span{
    color: gold;
}
/* About End */

/* footer start */
/* .doubleFoot{
    width: 910px;
} */
#cupYellow{
    color: yellow;
}
#tickGreen{
    color: rgb(66, 244, 66);
}
#truckService{
    color: rgb(179, 174, 174);
}
#skyBluePlane{
    color: rgb(108, 187, 219);
}
#redInstagram{
    color: red;
}
.above{
    position: relative;
}
.bla{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -200;
    background-color: rgba(65, 64, 64, 0.464);
}
/* footer end */