*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .background{
    width: 100%;
    height: 100%;
/* } */
/* .black{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(38, 37, 37, 0.486);
}  */
/* .superNavbar{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    padding-left: 50%; 
} */
/* .products{
    display: flex;
    justify-content: center;
} */
/* .footer{
    display: flex;
    justify-content: center;
} */
