*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer{
    margin-top: 60px;
}
.container{
    max-width: 1300px;
    display: flex;
    align-items: center;
}
.foot{
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom-color:  #837f7f;
    gap: 48px;
    height: 100%;
    padding-left: 30px;
    padding-right: 30px;
    width: 30%;
}
.xonLogo{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.xonLogo img{
    box-shadow: 4px 7px 15px #837f7f;
    width: 70px;
    height: 70px;
}
.brandAdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.list ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list ul li a{
    text-decoration: none;
}
.icons{
    padding-bottom: 15px;
    width: 100%;
    font-size: 20px;
    color: white;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.color{    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.green{
    background-color: rgb(77, 213, 77);
}
.blue{
    background-color: rgb(127, 127, 246);
}
.red{
    background-color: rgb(229, 11, 98);
}
.doubleFoot{
    box-shadow: 4px 7px 15px #837f7f;
    width: 100%;
    display: flex;
    height: 400px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.above{
    position: relative;
    color: yellow;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    height: 123px;
    padding: 30px;
    background-image: url(./Assets/images/delivery.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.above h1{
    color: white;
}

.telNumbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.under{
    background-color: white;
    width: 95%;
    height: 200px;
    position: relative;
    top: -22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 4px 7px 15px #837f7f;
    gap: 70px;
}
.add p{
    line-height: 30px;
    border-left: 2px solid red;
    padding-left: 15px;
    padding-right: 35px;
}

.phoneCall{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.phoneCall i{
    font-size: 20px;
}
.final{
    padding-bottom: 15px;
    display: flex;
    gap: 30px;
    align-items: center;
}
.priority{
    display: flex;
    gap: 10px;
    align-items: center;
}
.priority i{
    font-size: 45px;
    color: rgb(5, 5, 72);
    border-color: black;
}
.fourIcons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
.fourIcons h1{
    color: rgb(5, 5, 72);
    font-size: 17px;
}
